@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
  margin-top: 60px;
  font-family: Raleway, sans-serif;
}

#header-group {
  margin-bottom: 30px;
}

.padded-bottom {
  margin-bottom: 10px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.bordered {
  border: 1px solid blue;
}

figcaption {
  text-align: center;
}