@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
    font-family: Raleway, 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.social-button {
    min-width: 120px;
}

.card-min-height {
    min-height: 420px;
}