@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.unsplash.com/photo-1495965478447-052a41235743?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjI1MjQ1fQ&s=fde6f9ffe34be9ff5d2c419c0a897159) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}